<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kutner.comicsdbclient.comicsdbclient"
    android:versionCode="2"
    android:versionName="2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="cz.kutner.comicsdb.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ComicsSearchActivity" />
        </activity>

        <activity
            android:name="cz.kutner.comicsdb.ComicsDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="cz.kutner.comicsdb.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.kutner.comicsdb.MainActivity" />
        </activity>

        <activity
            android:name="cz.kutner.comicsdb.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />

        <activity
            android:name="cz.kutner.comicsdb.ComicsSearchActivity"
            android:label="@string/title_activity_comics_search"
            android:parentActivityName="cz.kutner.comicsdb.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.kutner.comicsdb.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

    </application>

</manifest>
